<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="guardarFG" class="contenido-form">
    <div class="row animate__animated animate__fadeInUp">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3" style="margin-bottom: 25px;">
            <span class="p-float-label">
                <input class="inputss" type="text" pInputText formControlName="nombre">
                <label for="float-input ">{{idLblNombre}}{{idLblAsterisco}}</label>
            </span>

            <small class="form-text text-danger"
                *ngIf="!this.guardarFG.get('nombre')?.valid && this.guardarFG.get('nombre')?.dirty">
                <i class="pi pi-exclamation-circle"></i>
                {{idLblNombre}}{{idLblAsterisco}} {{idLblRequerida}}
            </small>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3" style="margin-bottom: 25px;">
            <span class="p-float-label">
                <input class="inputss" type="text" pInputText formControlName="apellidopaterno">
                <label for="float-input ">{{idLblApellidopaterno}}{{idLblAsterisco}}</label>
            </span>

            <small class="form-text text-danger"
                *ngIf="!this.guardarFG.get('apellidopaterno')?.valid && this.guardarFG.get('apellidopaterno')?.dirty">
                <i class="pi pi-exclamation-circle"></i>
                {{idLblApellidopaterno}}{{idLblAsterisco}} {{idLblRequerida}}
            </small>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3" style="margin-bottom: 25px;">
            <span class="p-float-label">
                <input class="inputss" type="text" pInputText formControlName="apellidomaterno">
                <label for="float-input">{{idLblApellidomaterno}}{{idLblAsterisco}}</label>
            </span>

            <small class="form-text text-danger"
                *ngIf="!this.guardarFG.get('apellidomaterno')?.valid && this.guardarFG.get('apellidomaterno')?.dirty">
                <i class="pi pi-exclamation-circle"></i>
                {{idLblApellidomaterno}}{{idLblAsterisco}} {{idLblRequerida}}
            </small>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3" style="margin-bottom: 25px;">
            <span class="p-float-label">
                <input class="inputss" type="text" pInputText formControlName="email">
                <label for="float-input ">{{idLblEmail}}{{idLblAsterisco}}</label>
            </span>

            <small class="form-text text-danger"
                *ngIf="!this.guardarFG.get('email')?.valid && this.guardarFG.get('email')?.dirty">
                <i class="pi pi-exclamation-circle"></i>
                {{idLblEmail}}{{idLblAsterisco}} {{idLblRequerida}}
            </small>
        </div>
    </div>

    <div class="row animate__animated animate__fadeInUp">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <p-messages [enableService]="true" [closable]="true"></p-messages>
            <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
        </div>
    </div>

    <div class="row">
        <div class="col-5 my-2">
            <div class="d-flex">
            </div>
        </div>

        <div class="col-7 my-2">
            <div class="text-end">
                <samp>
                    <button pButton pRipple type="submit" label="Guardar" class="botones2"
                        icon="pi pi pi-save"></button>
                </samp>
                <samp style="margin-left: 10px;">
                    <button pButton pRipple type="button" label="Regresar" class="botones2" icon="pi pi-arrow-lef"
                        (click)="showRegresar()"></button>
                </samp>
            </div>
        </div>
    </div>
</form>